<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="device=device-width, initial-scale=1.0">
        <title>Flask Hello</title>
        <!-- link css file -->
        <link rel="stylesheet" href="{{  url_for('static', filename='styles/style.css') }}">
    </head>
    <body>
        <header>
            <div class="header-container">
                <div class="header-title-container">
                    <h1>Flask <span>Hello</span></h1>
                </div>
                <!-- header navs -->
                <div class="header-nav">
                    {% include 'nav.html' %}
                </div>
            </div>
        </header>
        
        <main>
            <!-- make main extendable -->
            <div class="main-container">
                {% block main%}
                {% endblock %}
            </div>
        </main>
        
        <footer>
            <div class="footer-container">
                <div class="copyright">
                    <p><b>Flask <span>Hello</span></b> &copy;Copyright 2022, Inc.</p>
                </div>
            </div>
        </footer>
        
        <!-- link javascript file -->
        <script src="{{ url_for('static', filename='styles/style.css') }}">
        </script>
    </body>
</html>