*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer{
    margin: 10% 5% 2% 5%;
}

main{
    display: flex;
}

.main-aside{
    flex: 1;
    width: 30%;
}

.main-container{
    flex: 2;
    width: 70%;
}

.main-nav nav ul{
    list-style: none;
}

.main-nav nav ul li{
    margin-bottom: 10%;
}

.main-nav nav ul li a{
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    color: #222;
}

.flask-logo-container{
    height: 235vh;
}

.img-container{
    transform: translate(50%, 50%)
    margin: auto;
}